@import url(https://fonts.googleapis.com/css?family=Nunito);/**
 * ===================================
 * Creates media query width closure
 *
 * $type = min, max, breakpoint ID (e.g. palm) or retina
 * $breakpoint = width (e.g. 1000px or 40em)
 *
 * `@include media-query(min, $lap-start);`
 * `@include media-query(max, $lap-start + 200px);`
 *
 * If the @ie flag is set to true then it builds a normal CSS rule (without the media query closure).
 * This only happens if the breakpoint is a certain height or above.
 *
 * ===================================
 */

/**
 * ===================================
 * Creates media query height closure
 *
 * $type = min or max
 * $height = height (e.g. 1000px or 40em)
 *
 * `@include media-height(min, 200px);`
 * `@include media-height(max, 800px);`
 *
 * ===================================
 */

/**
 * ===================================
 * Creates media query brackets closure for targeting a width between 2 values (e.g. between 500-1000px)
 *
 * $to = start width (e.g. 500px or 20em)
 * $from = end width (e.g. 1000px or 40em)
 *
 * `@include media-query-bracket($lap-start, $desk-start);`
 * `@include media-query-bracket(400px, 800px);`
 *
 * ===================================
 */

/*========================================
GRID
========================================*/

.product-border {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 2px #ccc;
}

/**
 * Layout
 */

.grid {
  zoom: 1;
}

.grid:before,
.grid:after {
  content: "";
  display: table;
}

.grid:after {
  clear: both;
}

[class*=span],
.grid__cell {
  float: left;
  display: inline;
  min-height: 1px;
  width: 100%;
}

[class*=span].grid__cell--rev,
.grid__cell.grid__cell--rev {
  float: right;
}

.grid--collapse {
  margin-left: 0;
}

.grid--collapse .grid__cell {
  padding-left: 0;
}

@media only screen and (min-width: 730px) {
  .grid--expand {
    margin-left: -40px;
  }
}

@media only screen and (min-width: 730px) {
  .grid--expand [class*=span],
  .grid--expand .grid__cell {
    padding-left: 40px;
  }
}

@media only screen and (min-width: 0) {
  .palm-3-1 {
    width: 33.3333333333%;
    *width: 31.8227593152%;
  }

  .palm-3-2 {
    width: 66.6666666667%;
    *width: 65.1560926485%;
  }

  .palm-3-3 {
    width: 100%;
    *width: 98.4894259819%;
  }

  .palm-4-1 {
    width: 25%;
    *width: 23.4894259819%;
  }

  .palm-4-2 {
    width: 50%;
    *width: 48.4894259819%;
  }

  .palm-4-3 {
    width: 75%;
    *width: 73.4894259819%;
  }

  .palm-4-4 {
    width: 100%;
    *width: 98.4894259819%;
  }

  .palm-5-1 {
    width: 20%;
    *width: 18.4894259819%;
  }

  .palm-5-2 {
    width: 40%;
    *width: 38.4894259819%;
  }

  .palm-5-3 {
    width: 60%;
    *width: 58.4894259819%;
  }

  .palm-5-4 {
    width: 80%;
    *width: 78.4894259819%;
  }

  .palm-5-5 {
    width: 100%;
    *width: 98.4894259819%;
  }

  .palm-6-1 {
    width: 16.6666666667%;
    *width: 15.1560926485%;
  }

  .palm-6-2 {
    width: 33.3333333333%;
    *width: 31.8227593152%;
  }

  .palm-6-3 {
    width: 50%;
    *width: 48.4894259819%;
  }

  .palm-6-4 {
    width: 66.6666666667%;
    *width: 65.1560926485%;
  }

  .palm-6-5 {
    width: 83.3333333333%;
    *width: 81.8227593152%;
  }

  .palm-6-6 {
    width: 100%;
    *width: 98.4894259819%;
  }

  .palm-12-1 {
    width: 8.3333333333%;
    *width: 6.8227593152%;
  }

  .palm-12-2 {
    width: 16.6666666667%;
    *width: 15.1560926485%;
  }

  .palm-12-3 {
    width: 25%;
    *width: 23.4894259819%;
  }

  .palm-12-4 {
    width: 33.3333333333%;
    *width: 31.8227593152%;
  }

  .palm-12-5 {
    width: 41.6666666667%;
    *width: 40.1560926485%;
  }

  .palm-12-6 {
    width: 50%;
    *width: 48.4894259819%;
  }

  .palm-12-7 {
    width: 58.3333333333%;
    *width: 56.8227593152%;
  }

  .palm-12-8 {
    width: 66.6666666667%;
    *width: 65.1560926485%;
  }

  .palm-12-9 {
    width: 75%;
    *width: 73.4894259819%;
  }

  .palm-12-10 {
    width: 83.3333333333%;
    *width: 81.8227593152%;
  }

  .palm-12-11 {
    width: 91.6666666667%;
    *width: 90.1560926485%;
  }

  .palm-12-12 {
    width: 100%;
    *width: 98.4894259819%;
  }

  .palm-offset-3-0 {
    margin-left: 0%;
  }

  .palm-offset-3-0-right {
    margin-right: 0%;
  }

  .palm-offset-3-1 {
    margin-left: 33.3333333333%;
  }

  .palm-offset-3-1-right {
    margin-right: 33.3333333333%;
  }

  .palm-offset-3-2 {
    margin-left: 66.6666666667%;
  }

  .palm-offset-3-2-right {
    margin-right: 66.6666666667%;
  }

  .palm-offset-3-3 {
    margin-left: 100%;
  }

  .palm-offset-3-3-right {
    margin-right: 100%;
  }

  .palm-offset-4-0 {
    margin-left: 0%;
  }

  .palm-offset-4-0-right {
    margin-right: 0%;
  }

  .palm-offset-4-1 {
    margin-left: 25%;
  }

  .palm-offset-4-1-right {
    margin-right: 25%;
  }

  .palm-offset-4-2 {
    margin-left: 50%;
  }

  .palm-offset-4-2-right {
    margin-right: 50%;
  }

  .palm-offset-4-3 {
    margin-left: 75%;
  }

  .palm-offset-4-3-right {
    margin-right: 75%;
  }

  .palm-offset-4-4 {
    margin-left: 100%;
  }

  .palm-offset-4-4-right {
    margin-right: 100%;
  }

  .palm-offset-5-0 {
    margin-left: 0%;
  }

  .palm-offset-5-0-right {
    margin-right: 0%;
  }

  .palm-offset-5-1 {
    margin-left: 20%;
  }

  .palm-offset-5-1-right {
    margin-right: 20%;
  }

  .palm-offset-5-2 {
    margin-left: 40%;
  }

  .palm-offset-5-2-right {
    margin-right: 40%;
  }

  .palm-offset-5-3 {
    margin-left: 60%;
  }

  .palm-offset-5-3-right {
    margin-right: 60%;
  }

  .palm-offset-5-4 {
    margin-left: 80%;
  }

  .palm-offset-5-4-right {
    margin-right: 80%;
  }

  .palm-offset-5-5 {
    margin-left: 100%;
  }

  .palm-offset-5-5-right {
    margin-right: 100%;
  }

  .palm-offset-6-0 {
    margin-left: 0%;
  }

  .palm-offset-6-0-right {
    margin-right: 0%;
  }

  .palm-offset-6-1 {
    margin-left: 16.6666666667%;
  }

  .palm-offset-6-1-right {
    margin-right: 16.6666666667%;
  }

  .palm-offset-6-2 {
    margin-left: 33.3333333333%;
  }

  .palm-offset-6-2-right {
    margin-right: 33.3333333333%;
  }

  .palm-offset-6-3 {
    margin-left: 50%;
  }

  .palm-offset-6-3-right {
    margin-right: 50%;
  }

  .palm-offset-6-4 {
    margin-left: 66.6666666667%;
  }

  .palm-offset-6-4-right {
    margin-right: 66.6666666667%;
  }

  .palm-offset-6-5 {
    margin-left: 83.3333333333%;
  }

  .palm-offset-6-5-right {
    margin-right: 83.3333333333%;
  }

  .palm-offset-6-6 {
    margin-left: 100%;
  }

  .palm-offset-6-6-right {
    margin-right: 100%;
  }

  .palm-offset-12-0 {
    margin-left: 0%;
  }

  .palm-offset-12-0-right {
    margin-right: 0%;
  }

  .palm-offset-12-1 {
    margin-left: 8.3333333333%;
  }

  .palm-offset-12-1-right {
    margin-right: 8.3333333333%;
  }

  .palm-offset-12-2 {
    margin-left: 16.6666666667%;
  }

  .palm-offset-12-2-right {
    margin-right: 16.6666666667%;
  }

  .palm-offset-12-3 {
    margin-left: 25%;
  }

  .palm-offset-12-3-right {
    margin-right: 25%;
  }

  .palm-offset-12-4 {
    margin-left: 33.3333333333%;
  }

  .palm-offset-12-4-right {
    margin-right: 33.3333333333%;
  }

  .palm-offset-12-5 {
    margin-left: 41.6666666667%;
  }

  .palm-offset-12-5-right {
    margin-right: 41.6666666667%;
  }

  .palm-offset-12-6 {
    margin-left: 50%;
  }

  .palm-offset-12-6-right {
    margin-right: 50%;
  }

  .palm-offset-12-7 {
    margin-left: 58.3333333333%;
  }

  .palm-offset-12-7-right {
    margin-right: 58.3333333333%;
  }

  .palm-offset-12-8 {
    margin-left: 66.6666666667%;
  }

  .palm-offset-12-8-right {
    margin-right: 66.6666666667%;
  }

  .palm-offset-12-9 {
    margin-left: 75%;
  }

  .palm-offset-12-9-right {
    margin-right: 75%;
  }

  .palm-offset-12-10 {
    margin-left: 83.3333333333%;
  }

  .palm-offset-12-10-right {
    margin-right: 83.3333333333%;
  }

  .palm-offset-12-11 {
    margin-left: 91.6666666667%;
  }

  .palm-offset-12-11-right {
    margin-right: 91.6666666667%;
  }

  .palm-offset-12-12 {
    margin-left: 100%;
  }

  .palm-offset-12-12-right {
    margin-right: 100%;
  }
}

@media only screen and (min-width: 0) and (max-width: 729px) {
  .palm-5up > .grid__cell,
  .palm-5up > .grid__item {
    width: 20%;
  }

  .palm-5up > .grid__cell:nth-child(5n+1) {
    clear: left;
  }

  .palm-row-clear {
    clear: left;
  }
}

@media only screen and (min-width: 415px) {
  .palm-large-3-1 {
    width: 33.3333333333%;
    *width: 31.8227593152%;
  }

  .palm-large-3-2 {
    width: 66.6666666667%;
    *width: 65.1560926485%;
  }

  .palm-large-3-3 {
    width: 100%;
    *width: 98.4894259819%;
  }

  .palm-large-4-1 {
    width: 25%;
    *width: 23.4894259819%;
  }

  .palm-large-4-2 {
    width: 50%;
    *width: 48.4894259819%;
  }

  .palm-large-4-3 {
    width: 75%;
    *width: 73.4894259819%;
  }

  .palm-large-4-4 {
    width: 100%;
    *width: 98.4894259819%;
  }

  .palm-large-5-1 {
    width: 20%;
    *width: 18.4894259819%;
  }

  .palm-large-5-2 {
    width: 40%;
    *width: 38.4894259819%;
  }

  .palm-large-5-3 {
    width: 60%;
    *width: 58.4894259819%;
  }

  .palm-large-5-4 {
    width: 80%;
    *width: 78.4894259819%;
  }

  .palm-large-5-5 {
    width: 100%;
    *width: 98.4894259819%;
  }

  .palm-large-6-1 {
    width: 16.6666666667%;
    *width: 15.1560926485%;
  }

  .palm-large-6-2 {
    width: 33.3333333333%;
    *width: 31.8227593152%;
  }

  .palm-large-6-3 {
    width: 50%;
    *width: 48.4894259819%;
  }

  .palm-large-6-4 {
    width: 66.6666666667%;
    *width: 65.1560926485%;
  }

  .palm-large-6-5 {
    width: 83.3333333333%;
    *width: 81.8227593152%;
  }

  .palm-large-6-6 {
    width: 100%;
    *width: 98.4894259819%;
  }

  .palm-large-12-1 {
    width: 8.3333333333%;
    *width: 6.8227593152%;
  }

  .palm-large-12-2 {
    width: 16.6666666667%;
    *width: 15.1560926485%;
  }

  .palm-large-12-3 {
    width: 25%;
    *width: 23.4894259819%;
  }

  .palm-large-12-4 {
    width: 33.3333333333%;
    *width: 31.8227593152%;
  }

  .palm-large-12-5 {
    width: 41.6666666667%;
    *width: 40.1560926485%;
  }

  .palm-large-12-6 {
    width: 50%;
    *width: 48.4894259819%;
  }

  .palm-large-12-7 {
    width: 58.3333333333%;
    *width: 56.8227593152%;
  }

  .palm-large-12-8 {
    width: 66.6666666667%;
    *width: 65.1560926485%;
  }

  .palm-large-12-9 {
    width: 75%;
    *width: 73.4894259819%;
  }

  .palm-large-12-10 {
    width: 83.3333333333%;
    *width: 81.8227593152%;
  }

  .palm-large-12-11 {
    width: 91.6666666667%;
    *width: 90.1560926485%;
  }

  .palm-large-12-12 {
    width: 100%;
    *width: 98.4894259819%;
  }

  .palm-large-offset-3-0 {
    margin-left: 0%;
  }

  .palm-large-offset-3-0-right {
    margin-right: 0%;
  }

  .palm-large-offset-3-1 {
    margin-left: 33.3333333333%;
  }

  .palm-large-offset-3-1-right {
    margin-right: 33.3333333333%;
  }

  .palm-large-offset-3-2 {
    margin-left: 66.6666666667%;
  }

  .palm-large-offset-3-2-right {
    margin-right: 66.6666666667%;
  }

  .palm-large-offset-3-3 {
    margin-left: 100%;
  }

  .palm-large-offset-3-3-right {
    margin-right: 100%;
  }

  .palm-large-offset-4-0 {
    margin-left: 0%;
  }

  .palm-large-offset-4-0-right {
    margin-right: 0%;
  }

  .palm-large-offset-4-1 {
    margin-left: 25%;
  }

  .palm-large-offset-4-1-right {
    margin-right: 25%;
  }

  .palm-large-offset-4-2 {
    margin-left: 50%;
  }

  .palm-large-offset-4-2-right {
    margin-right: 50%;
  }

  .palm-large-offset-4-3 {
    margin-left: 75%;
  }

  .palm-large-offset-4-3-right {
    margin-right: 75%;
  }

  .palm-large-offset-4-4 {
    margin-left: 100%;
  }

  .palm-large-offset-4-4-right {
    margin-right: 100%;
  }

  .palm-large-offset-5-0 {
    margin-left: 0%;
  }

  .palm-large-offset-5-0-right {
    margin-right: 0%;
  }

  .palm-large-offset-5-1 {
    margin-left: 20%;
  }

  .palm-large-offset-5-1-right {
    margin-right: 20%;
  }

  .palm-large-offset-5-2 {
    margin-left: 40%;
  }

  .palm-large-offset-5-2-right {
    margin-right: 40%;
  }

  .palm-large-offset-5-3 {
    margin-left: 60%;
  }

  .palm-large-offset-5-3-right {
    margin-right: 60%;
  }

  .palm-large-offset-5-4 {
    margin-left: 80%;
  }

  .palm-large-offset-5-4-right {
    margin-right: 80%;
  }

  .palm-large-offset-5-5 {
    margin-left: 100%;
  }

  .palm-large-offset-5-5-right {
    margin-right: 100%;
  }

  .palm-large-offset-6-0 {
    margin-left: 0%;
  }

  .palm-large-offset-6-0-right {
    margin-right: 0%;
  }

  .palm-large-offset-6-1 {
    margin-left: 16.6666666667%;
  }

  .palm-large-offset-6-1-right {
    margin-right: 16.6666666667%;
  }

  .palm-large-offset-6-2 {
    margin-left: 33.3333333333%;
  }

  .palm-large-offset-6-2-right {
    margin-right: 33.3333333333%;
  }

  .palm-large-offset-6-3 {
    margin-left: 50%;
  }

  .palm-large-offset-6-3-right {
    margin-right: 50%;
  }

  .palm-large-offset-6-4 {
    margin-left: 66.6666666667%;
  }

  .palm-large-offset-6-4-right {
    margin-right: 66.6666666667%;
  }

  .palm-large-offset-6-5 {
    margin-left: 83.3333333333%;
  }

  .palm-large-offset-6-5-right {
    margin-right: 83.3333333333%;
  }

  .palm-large-offset-6-6 {
    margin-left: 100%;
  }

  .palm-large-offset-6-6-right {
    margin-right: 100%;
  }

  .palm-large-offset-12-0 {
    margin-left: 0%;
  }

  .palm-large-offset-12-0-right {
    margin-right: 0%;
  }

  .palm-large-offset-12-1 {
    margin-left: 8.3333333333%;
  }

  .palm-large-offset-12-1-right {
    margin-right: 8.3333333333%;
  }

  .palm-large-offset-12-2 {
    margin-left: 16.6666666667%;
  }

  .palm-large-offset-12-2-right {
    margin-right: 16.6666666667%;
  }

  .palm-large-offset-12-3 {
    margin-left: 25%;
  }

  .palm-large-offset-12-3-right {
    margin-right: 25%;
  }

  .palm-large-offset-12-4 {
    margin-left: 33.3333333333%;
  }

  .palm-large-offset-12-4-right {
    margin-right: 33.3333333333%;
  }

  .palm-large-offset-12-5 {
    margin-left: 41.6666666667%;
  }

  .palm-large-offset-12-5-right {
    margin-right: 41.6666666667%;
  }

  .palm-large-offset-12-6 {
    margin-left: 50%;
  }

  .palm-large-offset-12-6-right {
    margin-right: 50%;
  }

  .palm-large-offset-12-7 {
    margin-left: 58.3333333333%;
  }

  .palm-large-offset-12-7-right {
    margin-right: 58.3333333333%;
  }

  .palm-large-offset-12-8 {
    margin-left: 66.6666666667%;
  }

  .palm-large-offset-12-8-right {
    margin-right: 66.6666666667%;
  }

  .palm-large-offset-12-9 {
    margin-left: 75%;
  }

  .palm-large-offset-12-9-right {
    margin-right: 75%;
  }

  .palm-large-offset-12-10 {
    margin-left: 83.3333333333%;
  }

  .palm-large-offset-12-10-right {
    margin-right: 83.3333333333%;
  }

  .palm-large-offset-12-11 {
    margin-left: 91.6666666667%;
  }

  .palm-large-offset-12-11-right {
    margin-right: 91.6666666667%;
  }

  .palm-large-offset-12-12 {
    margin-left: 100%;
  }

  .palm-large-offset-12-12-right {
    margin-right: 100%;
  }
}

@media only screen and (min-width: 415px) and (max-width: 729px) {
  .palm-large-5up > .grid__cell,
  .palm-large-5up > .grid__item {
    width: 20%;
  }

  .palm-large-5up > .grid__cell:nth-child(5n+1) {
    clear: left;
  }

  .palm-large-row-clear {
    clear: left;
  }
}

@media only screen and (min-width: 730px) {
  .lap-3-1 {
    width: 33.3333333333%;
    *width: 31.8227593152%;
  }

  .lap-3-2 {
    width: 66.6666666667%;
    *width: 65.1560926485%;
  }

  .lap-3-3 {
    width: 100%;
    *width: 98.4894259819%;
  }

  .lap-4-1 {
    width: 25%;
    *width: 23.4894259819%;
  }

  .lap-4-2 {
    width: 50%;
    *width: 48.4894259819%;
  }

  .lap-4-3 {
    width: 75%;
    *width: 73.4894259819%;
  }

  .lap-4-4 {
    width: 100%;
    *width: 98.4894259819%;
  }

  .lap-5-1 {
    width: 20%;
    *width: 18.4894259819%;
  }

  .lap-5-2 {
    width: 40%;
    *width: 38.4894259819%;
  }

  .lap-5-3 {
    width: 60%;
    *width: 58.4894259819%;
  }

  .lap-5-4 {
    width: 80%;
    *width: 78.4894259819%;
  }

  .lap-5-5 {
    width: 100%;
    *width: 98.4894259819%;
  }

  .lap-6-1 {
    width: 16.6666666667%;
    *width: 15.1560926485%;
  }

  .lap-6-2 {
    width: 33.3333333333%;
    *width: 31.8227593152%;
  }

  .lap-6-3 {
    width: 50%;
    *width: 48.4894259819%;
  }

  .lap-6-4 {
    width: 66.6666666667%;
    *width: 65.1560926485%;
  }

  .lap-6-5 {
    width: 83.3333333333%;
    *width: 81.8227593152%;
  }

  .lap-6-6 {
    width: 100%;
    *width: 98.4894259819%;
  }

  .lap-12-1 {
    width: 8.3333333333%;
    *width: 6.8227593152%;
  }

  .lap-12-2 {
    width: 16.6666666667%;
    *width: 15.1560926485%;
  }

  .lap-12-3 {
    width: 25%;
    *width: 23.4894259819%;
  }

  .lap-12-4 {
    width: 33.3333333333%;
    *width: 31.8227593152%;
  }

  .lap-12-5 {
    width: 41.6666666667%;
    *width: 40.1560926485%;
  }

  .lap-12-6 {
    width: 50%;
    *width: 48.4894259819%;
  }

  .lap-12-7 {
    width: 58.3333333333%;
    *width: 56.8227593152%;
  }

  .lap-12-8 {
    width: 66.6666666667%;
    *width: 65.1560926485%;
  }

  .lap-12-9 {
    width: 75%;
    *width: 73.4894259819%;
  }

  .lap-12-10 {
    width: 83.3333333333%;
    *width: 81.8227593152%;
  }

  .lap-12-11 {
    width: 91.6666666667%;
    *width: 90.1560926485%;
  }

  .lap-12-12 {
    width: 100%;
    *width: 98.4894259819%;
  }

  .lap-offset-3-0 {
    margin-left: 0%;
  }

  .lap-offset-3-0-right {
    margin-right: 0%;
  }

  .lap-offset-3-1 {
    margin-left: 33.3333333333%;
  }

  .lap-offset-3-1-right {
    margin-right: 33.3333333333%;
  }

  .lap-offset-3-2 {
    margin-left: 66.6666666667%;
  }

  .lap-offset-3-2-right {
    margin-right: 66.6666666667%;
  }

  .lap-offset-3-3 {
    margin-left: 100%;
  }

  .lap-offset-3-3-right {
    margin-right: 100%;
  }

  .lap-offset-4-0 {
    margin-left: 0%;
  }

  .lap-offset-4-0-right {
    margin-right: 0%;
  }

  .lap-offset-4-1 {
    margin-left: 25%;
  }

  .lap-offset-4-1-right {
    margin-right: 25%;
  }

  .lap-offset-4-2 {
    margin-left: 50%;
  }

  .lap-offset-4-2-right {
    margin-right: 50%;
  }

  .lap-offset-4-3 {
    margin-left: 75%;
  }

  .lap-offset-4-3-right {
    margin-right: 75%;
  }

  .lap-offset-4-4 {
    margin-left: 100%;
  }

  .lap-offset-4-4-right {
    margin-right: 100%;
  }

  .lap-offset-5-0 {
    margin-left: 0%;
  }

  .lap-offset-5-0-right {
    margin-right: 0%;
  }

  .lap-offset-5-1 {
    margin-left: 20%;
  }

  .lap-offset-5-1-right {
    margin-right: 20%;
  }

  .lap-offset-5-2 {
    margin-left: 40%;
  }

  .lap-offset-5-2-right {
    margin-right: 40%;
  }

  .lap-offset-5-3 {
    margin-left: 60%;
  }

  .lap-offset-5-3-right {
    margin-right: 60%;
  }

  .lap-offset-5-4 {
    margin-left: 80%;
  }

  .lap-offset-5-4-right {
    margin-right: 80%;
  }

  .lap-offset-5-5 {
    margin-left: 100%;
  }

  .lap-offset-5-5-right {
    margin-right: 100%;
  }

  .lap-offset-6-0 {
    margin-left: 0%;
  }

  .lap-offset-6-0-right {
    margin-right: 0%;
  }

  .lap-offset-6-1 {
    margin-left: 16.6666666667%;
  }

  .lap-offset-6-1-right {
    margin-right: 16.6666666667%;
  }

  .lap-offset-6-2 {
    margin-left: 33.3333333333%;
  }

  .lap-offset-6-2-right {
    margin-right: 33.3333333333%;
  }

  .lap-offset-6-3 {
    margin-left: 50%;
  }

  .lap-offset-6-3-right {
    margin-right: 50%;
  }

  .lap-offset-6-4 {
    margin-left: 66.6666666667%;
  }

  .lap-offset-6-4-right {
    margin-right: 66.6666666667%;
  }

  .lap-offset-6-5 {
    margin-left: 83.3333333333%;
  }

  .lap-offset-6-5-right {
    margin-right: 83.3333333333%;
  }

  .lap-offset-6-6 {
    margin-left: 100%;
  }

  .lap-offset-6-6-right {
    margin-right: 100%;
  }

  .lap-offset-12-0 {
    margin-left: 0%;
  }

  .lap-offset-12-0-right {
    margin-right: 0%;
  }

  .lap-offset-12-1 {
    margin-left: 8.3333333333%;
  }

  .lap-offset-12-1-right {
    margin-right: 8.3333333333%;
  }

  .lap-offset-12-2 {
    margin-left: 16.6666666667%;
  }

  .lap-offset-12-2-right {
    margin-right: 16.6666666667%;
  }

  .lap-offset-12-3 {
    margin-left: 25%;
  }

  .lap-offset-12-3-right {
    margin-right: 25%;
  }

  .lap-offset-12-4 {
    margin-left: 33.3333333333%;
  }

  .lap-offset-12-4-right {
    margin-right: 33.3333333333%;
  }

  .lap-offset-12-5 {
    margin-left: 41.6666666667%;
  }

  .lap-offset-12-5-right {
    margin-right: 41.6666666667%;
  }

  .lap-offset-12-6 {
    margin-left: 50%;
  }

  .lap-offset-12-6-right {
    margin-right: 50%;
  }

  .lap-offset-12-7 {
    margin-left: 58.3333333333%;
  }

  .lap-offset-12-7-right {
    margin-right: 58.3333333333%;
  }

  .lap-offset-12-8 {
    margin-left: 66.6666666667%;
  }

  .lap-offset-12-8-right {
    margin-right: 66.6666666667%;
  }

  .lap-offset-12-9 {
    margin-left: 75%;
  }

  .lap-offset-12-9-right {
    margin-right: 75%;
  }

  .lap-offset-12-10 {
    margin-left: 83.3333333333%;
  }

  .lap-offset-12-10-right {
    margin-right: 83.3333333333%;
  }

  .lap-offset-12-11 {
    margin-left: 91.6666666667%;
  }

  .lap-offset-12-11-right {
    margin-right: 91.6666666667%;
  }

  .lap-offset-12-12 {
    margin-left: 100%;
  }

  .lap-offset-12-12-right {
    margin-right: 100%;
  }
}

@media only screen and (min-width: 730px) and (max-width: 899px) {
  .lap-5up > .grid__cell,
  .lap-5up > .grid__item {
    width: 20%;
  }

  .lap-5up > .grid__cell:nth-child(5n+1) {
    clear: left;
  }

  .lap-row-clear {
    clear: left;
  }
}

@media only screen and (min-width: 900px) {
  .desk-3-1 {
    width: 33.3333333333%;
    *width: 31.8227593152%;
  }

  .desk-3-2 {
    width: 66.6666666667%;
    *width: 65.1560926485%;
  }

  .desk-3-3 {
    width: 100%;
    *width: 98.4894259819%;
  }

  .desk-4-1 {
    width: 25%;
    *width: 23.4894259819%;
  }

  .desk-4-2 {
    width: 50%;
    *width: 48.4894259819%;
  }

  .desk-4-3 {
    width: 75%;
    *width: 73.4894259819%;
  }

  .desk-4-4 {
    width: 100%;
    *width: 98.4894259819%;
  }

  .desk-5-1 {
    width: 20%;
    *width: 18.4894259819%;
  }

  .desk-5-2 {
    width: 40%;
    *width: 38.4894259819%;
  }

  .desk-5-3 {
    width: 60%;
    *width: 58.4894259819%;
  }

  .desk-5-4 {
    width: 80%;
    *width: 78.4894259819%;
  }

  .desk-5-5 {
    width: 100%;
    *width: 98.4894259819%;
  }

  .desk-6-1 {
    width: 16.6666666667%;
    *width: 15.1560926485%;
  }

  .desk-6-2 {
    width: 33.3333333333%;
    *width: 31.8227593152%;
  }

  .desk-6-3 {
    width: 50%;
    *width: 48.4894259819%;
  }

  .desk-6-4 {
    width: 66.6666666667%;
    *width: 65.1560926485%;
  }

  .desk-6-5 {
    width: 83.3333333333%;
    *width: 81.8227593152%;
  }

  .desk-6-6 {
    width: 100%;
    *width: 98.4894259819%;
  }

  .desk-12-1 {
    width: 8.3333333333%;
    *width: 6.8227593152%;
  }

  .desk-12-2 {
    width: 16.6666666667%;
    *width: 15.1560926485%;
  }

  .desk-12-3 {
    width: 25%;
    *width: 23.4894259819%;
  }

  .desk-12-4 {
    width: 33.3333333333%;
    *width: 31.8227593152%;
  }

  .desk-12-5 {
    width: 41.6666666667%;
    *width: 40.1560926485%;
  }

  .desk-12-6 {
    width: 50%;
    *width: 48.4894259819%;
  }

  .desk-12-7 {
    width: 58.3333333333%;
    *width: 56.8227593152%;
  }

  .desk-12-8 {
    width: 66.6666666667%;
    *width: 65.1560926485%;
  }

  .desk-12-9 {
    width: 75%;
    *width: 73.4894259819%;
  }

  .desk-12-10 {
    width: 83.3333333333%;
    *width: 81.8227593152%;
  }

  .desk-12-11 {
    width: 91.6666666667%;
    *width: 90.1560926485%;
  }

  .desk-12-12 {
    width: 100%;
    *width: 98.4894259819%;
  }

  .desk-offset-3-0 {
    margin-left: 0%;
  }

  .desk-offset-3-0-right {
    margin-right: 0%;
  }

  .desk-offset-3-1 {
    margin-left: 33.3333333333%;
  }

  .desk-offset-3-1-right {
    margin-right: 33.3333333333%;
  }

  .desk-offset-3-2 {
    margin-left: 66.6666666667%;
  }

  .desk-offset-3-2-right {
    margin-right: 66.6666666667%;
  }

  .desk-offset-3-3 {
    margin-left: 100%;
  }

  .desk-offset-3-3-right {
    margin-right: 100%;
  }

  .desk-offset-4-0 {
    margin-left: 0%;
  }

  .desk-offset-4-0-right {
    margin-right: 0%;
  }

  .desk-offset-4-1 {
    margin-left: 25%;
  }

  .desk-offset-4-1-right {
    margin-right: 25%;
  }

  .desk-offset-4-2 {
    margin-left: 50%;
  }

  .desk-offset-4-2-right {
    margin-right: 50%;
  }

  .desk-offset-4-3 {
    margin-left: 75%;
  }

  .desk-offset-4-3-right {
    margin-right: 75%;
  }

  .desk-offset-4-4 {
    margin-left: 100%;
  }

  .desk-offset-4-4-right {
    margin-right: 100%;
  }

  .desk-offset-5-0 {
    margin-left: 0%;
  }

  .desk-offset-5-0-right {
    margin-right: 0%;
  }

  .desk-offset-5-1 {
    margin-left: 20%;
  }

  .desk-offset-5-1-right {
    margin-right: 20%;
  }

  .desk-offset-5-2 {
    margin-left: 40%;
  }

  .desk-offset-5-2-right {
    margin-right: 40%;
  }

  .desk-offset-5-3 {
    margin-left: 60%;
  }

  .desk-offset-5-3-right {
    margin-right: 60%;
  }

  .desk-offset-5-4 {
    margin-left: 80%;
  }

  .desk-offset-5-4-right {
    margin-right: 80%;
  }

  .desk-offset-5-5 {
    margin-left: 100%;
  }

  .desk-offset-5-5-right {
    margin-right: 100%;
  }

  .desk-offset-6-0 {
    margin-left: 0%;
  }

  .desk-offset-6-0-right {
    margin-right: 0%;
  }

  .desk-offset-6-1 {
    margin-left: 16.6666666667%;
  }

  .desk-offset-6-1-right {
    margin-right: 16.6666666667%;
  }

  .desk-offset-6-2 {
    margin-left: 33.3333333333%;
  }

  .desk-offset-6-2-right {
    margin-right: 33.3333333333%;
  }

  .desk-offset-6-3 {
    margin-left: 50%;
  }

  .desk-offset-6-3-right {
    margin-right: 50%;
  }

  .desk-offset-6-4 {
    margin-left: 66.6666666667%;
  }

  .desk-offset-6-4-right {
    margin-right: 66.6666666667%;
  }

  .desk-offset-6-5 {
    margin-left: 83.3333333333%;
  }

  .desk-offset-6-5-right {
    margin-right: 83.3333333333%;
  }

  .desk-offset-6-6 {
    margin-left: 100%;
  }

  .desk-offset-6-6-right {
    margin-right: 100%;
  }

  .desk-offset-12-0 {
    margin-left: 0%;
  }

  .desk-offset-12-0-right {
    margin-right: 0%;
  }

  .desk-offset-12-1 {
    margin-left: 8.3333333333%;
  }

  .desk-offset-12-1-right {
    margin-right: 8.3333333333%;
  }

  .desk-offset-12-2 {
    margin-left: 16.6666666667%;
  }

  .desk-offset-12-2-right {
    margin-right: 16.6666666667%;
  }

  .desk-offset-12-3 {
    margin-left: 25%;
  }

  .desk-offset-12-3-right {
    margin-right: 25%;
  }

  .desk-offset-12-4 {
    margin-left: 33.3333333333%;
  }

  .desk-offset-12-4-right {
    margin-right: 33.3333333333%;
  }

  .desk-offset-12-5 {
    margin-left: 41.6666666667%;
  }

  .desk-offset-12-5-right {
    margin-right: 41.6666666667%;
  }

  .desk-offset-12-6 {
    margin-left: 50%;
  }

  .desk-offset-12-6-right {
    margin-right: 50%;
  }

  .desk-offset-12-7 {
    margin-left: 58.3333333333%;
  }

  .desk-offset-12-7-right {
    margin-right: 58.3333333333%;
  }

  .desk-offset-12-8 {
    margin-left: 66.6666666667%;
  }

  .desk-offset-12-8-right {
    margin-right: 66.6666666667%;
  }

  .desk-offset-12-9 {
    margin-left: 75%;
  }

  .desk-offset-12-9-right {
    margin-right: 75%;
  }

  .desk-offset-12-10 {
    margin-left: 83.3333333333%;
  }

  .desk-offset-12-10-right {
    margin-right: 83.3333333333%;
  }

  .desk-offset-12-11 {
    margin-left: 91.6666666667%;
  }

  .desk-offset-12-11-right {
    margin-right: 91.6666666667%;
  }

  .desk-offset-12-12 {
    margin-left: 100%;
  }

  .desk-offset-12-12-right {
    margin-right: 100%;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1323px) {
  .desk-5up > .grid__cell,
  .desk-5up > .grid__item {
    width: 20%;
  }

  .desk-5up > .grid__cell:nth-child(5n+1) {
    clear: left;
  }

  .desk-row-clear {
    clear: left;
  }
}

@media only screen and (min-width: 1124px) {
  .wide-3-1 {
    width: 33.3333333333%;
    *width: 31.8227593152%;
  }

  .wide-3-2 {
    width: 66.6666666667%;
    *width: 65.1560926485%;
  }

  .wide-3-3 {
    width: 100%;
    *width: 98.4894259819%;
  }

  .wide-4-1 {
    width: 25%;
    *width: 23.4894259819%;
  }

  .wide-4-2 {
    width: 50%;
    *width: 48.4894259819%;
  }

  .wide-4-3 {
    width: 75%;
    *width: 73.4894259819%;
  }

  .wide-4-4 {
    width: 100%;
    *width: 98.4894259819%;
  }

  .wide-5-1 {
    width: 20%;
    *width: 18.4894259819%;
  }

  .wide-5-2 {
    width: 40%;
    *width: 38.4894259819%;
  }

  .wide-5-3 {
    width: 60%;
    *width: 58.4894259819%;
  }

  .wide-5-4 {
    width: 80%;
    *width: 78.4894259819%;
  }

  .wide-5-5 {
    width: 100%;
    *width: 98.4894259819%;
  }

  .wide-6-1 {
    width: 16.6666666667%;
    *width: 15.1560926485%;
  }

  .wide-6-2 {
    width: 33.3333333333%;
    *width: 31.8227593152%;
  }

  .wide-6-3 {
    width: 50%;
    *width: 48.4894259819%;
  }

  .wide-6-4 {
    width: 66.6666666667%;
    *width: 65.1560926485%;
  }

  .wide-6-5 {
    width: 83.3333333333%;
    *width: 81.8227593152%;
  }

  .wide-6-6 {
    width: 100%;
    *width: 98.4894259819%;
  }

  .wide-12-1 {
    width: 8.3333333333%;
    *width: 6.8227593152%;
  }

  .wide-12-2 {
    width: 16.6666666667%;
    *width: 15.1560926485%;
  }

  .wide-12-3 {
    width: 25%;
    *width: 23.4894259819%;
  }

  .wide-12-4 {
    width: 33.3333333333%;
    *width: 31.8227593152%;
  }

  .wide-12-5 {
    width: 41.6666666667%;
    *width: 40.1560926485%;
  }

  .wide-12-6 {
    width: 50%;
    *width: 48.4894259819%;
  }

  .wide-12-7 {
    width: 58.3333333333%;
    *width: 56.8227593152%;
  }

  .wide-12-8 {
    width: 66.6666666667%;
    *width: 65.1560926485%;
  }

  .wide-12-9 {
    width: 75%;
    *width: 73.4894259819%;
  }

  .wide-12-10 {
    width: 83.3333333333%;
    *width: 81.8227593152%;
  }

  .wide-12-11 {
    width: 91.6666666667%;
    *width: 90.1560926485%;
  }

  .wide-12-12 {
    width: 100%;
    *width: 98.4894259819%;
  }

  .wide-offset-3-0 {
    margin-left: 0%;
  }

  .wide-offset-3-0-right {
    margin-right: 0%;
  }

  .wide-offset-3-1 {
    margin-left: 33.3333333333%;
  }

  .wide-offset-3-1-right {
    margin-right: 33.3333333333%;
  }

  .wide-offset-3-2 {
    margin-left: 66.6666666667%;
  }

  .wide-offset-3-2-right {
    margin-right: 66.6666666667%;
  }

  .wide-offset-3-3 {
    margin-left: 100%;
  }

  .wide-offset-3-3-right {
    margin-right: 100%;
  }

  .wide-offset-4-0 {
    margin-left: 0%;
  }

  .wide-offset-4-0-right {
    margin-right: 0%;
  }

  .wide-offset-4-1 {
    margin-left: 25%;
  }

  .wide-offset-4-1-right {
    margin-right: 25%;
  }

  .wide-offset-4-2 {
    margin-left: 50%;
  }

  .wide-offset-4-2-right {
    margin-right: 50%;
  }

  .wide-offset-4-3 {
    margin-left: 75%;
  }

  .wide-offset-4-3-right {
    margin-right: 75%;
  }

  .wide-offset-4-4 {
    margin-left: 100%;
  }

  .wide-offset-4-4-right {
    margin-right: 100%;
  }

  .wide-offset-5-0 {
    margin-left: 0%;
  }

  .wide-offset-5-0-right {
    margin-right: 0%;
  }

  .wide-offset-5-1 {
    margin-left: 20%;
  }

  .wide-offset-5-1-right {
    margin-right: 20%;
  }

  .wide-offset-5-2 {
    margin-left: 40%;
  }

  .wide-offset-5-2-right {
    margin-right: 40%;
  }

  .wide-offset-5-3 {
    margin-left: 60%;
  }

  .wide-offset-5-3-right {
    margin-right: 60%;
  }

  .wide-offset-5-4 {
    margin-left: 80%;
  }

  .wide-offset-5-4-right {
    margin-right: 80%;
  }

  .wide-offset-5-5 {
    margin-left: 100%;
  }

  .wide-offset-5-5-right {
    margin-right: 100%;
  }

  .wide-offset-6-0 {
    margin-left: 0%;
  }

  .wide-offset-6-0-right {
    margin-right: 0%;
  }

  .wide-offset-6-1 {
    margin-left: 16.6666666667%;
  }

  .wide-offset-6-1-right {
    margin-right: 16.6666666667%;
  }

  .wide-offset-6-2 {
    margin-left: 33.3333333333%;
  }

  .wide-offset-6-2-right {
    margin-right: 33.3333333333%;
  }

  .wide-offset-6-3 {
    margin-left: 50%;
  }

  .wide-offset-6-3-right {
    margin-right: 50%;
  }

  .wide-offset-6-4 {
    margin-left: 66.6666666667%;
  }

  .wide-offset-6-4-right {
    margin-right: 66.6666666667%;
  }

  .wide-offset-6-5 {
    margin-left: 83.3333333333%;
  }

  .wide-offset-6-5-right {
    margin-right: 83.3333333333%;
  }

  .wide-offset-6-6 {
    margin-left: 100%;
  }

  .wide-offset-6-6-right {
    margin-right: 100%;
  }

  .wide-offset-12-0 {
    margin-left: 0%;
  }

  .wide-offset-12-0-right {
    margin-right: 0%;
  }

  .wide-offset-12-1 {
    margin-left: 8.3333333333%;
  }

  .wide-offset-12-1-right {
    margin-right: 8.3333333333%;
  }

  .wide-offset-12-2 {
    margin-left: 16.6666666667%;
  }

  .wide-offset-12-2-right {
    margin-right: 16.6666666667%;
  }

  .wide-offset-12-3 {
    margin-left: 25%;
  }

  .wide-offset-12-3-right {
    margin-right: 25%;
  }

  .wide-offset-12-4 {
    margin-left: 33.3333333333%;
  }

  .wide-offset-12-4-right {
    margin-right: 33.3333333333%;
  }

  .wide-offset-12-5 {
    margin-left: 41.6666666667%;
  }

  .wide-offset-12-5-right {
    margin-right: 41.6666666667%;
  }

  .wide-offset-12-6 {
    margin-left: 50%;
  }

  .wide-offset-12-6-right {
    margin-right: 50%;
  }

  .wide-offset-12-7 {
    margin-left: 58.3333333333%;
  }

  .wide-offset-12-7-right {
    margin-right: 58.3333333333%;
  }

  .wide-offset-12-8 {
    margin-left: 66.6666666667%;
  }

  .wide-offset-12-8-right {
    margin-right: 66.6666666667%;
  }

  .wide-offset-12-9 {
    margin-left: 75%;
  }

  .wide-offset-12-9-right {
    margin-right: 75%;
  }

  .wide-offset-12-10 {
    margin-left: 83.3333333333%;
  }

  .wide-offset-12-10-right {
    margin-right: 83.3333333333%;
  }

  .wide-offset-12-11 {
    margin-left: 91.6666666667%;
  }

  .wide-offset-12-11-right {
    margin-right: 91.6666666667%;
  }

  .wide-offset-12-12 {
    margin-left: 100%;
  }

  .wide-offset-12-12-right {
    margin-right: 100%;
  }
}

@media only screen and (min-width: 1124px) and (max-width: 9998px) {
  .wide-5up > .grid__cell,
  .wide-5up > .grid__item {
    width: 20%;
  }

  .wide-5up > .grid__cell:nth-child(5n+1) {
    clear: left;
  }

  .wide-row-clear {
    clear: left;
  }
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body,
ul {
  margin: 0;
}

body {
  overflow: hidden;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.nav-bar {
  height: 6vh;
}

.main-content {
  height: 94vh;
}

